$presence_inactive : #4b5173;
$presence_active : #368836;




#presence_status
{
    width: 11px;
    height: 11px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: $presence_inactive;
}

.active {
    background-color: $presence_active !important;
}
