<div class="container">
  <div class="chat_container">

    <aside class="who_is_online_cntr">
      <app-whos-online-list
      [roomname$]  = "room$"
      [users$] = "users$"
      [rerender] = "trigger_rerender_of_whos_online$"
      >  
      </app-whos-online-list>
    </aside>

    <main class="chat_main">
      <app-message-list>

      </app-message-list>

      <app-send-message-form
      class="send_message_form"
      >
      </app-send-message-form>
    </main>

    
  </div>

</div>