.container {
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.chat_container {
    display:flex;
    flex:1;
    flex-direction: row;
}

.chat_main {
    /* flex : 2; */
    /* width : 100%; */
}
.chat_main >>> .mat-form-field-infix{
    width:85vw !important;
}
.send_message_form
{
    position: absolute;
    bottom: 0;
}

.who_is_online_cntr{
    overflow : auto;
    width: 15vw;
    padding : 20;
    background-color : #2c303b;
    color:white;
}


